{% load static %}

<!DOCTYPE html5>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
    <!--For icons-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <!--For 'far fa-eye'-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!--AJAX-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- reCaptcha
        <script src='https://www.google.com/recaptcha/api.js?render={{ key }}'></script>
    -->
    {% block style %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

{% if display %}
<div id="sidebar-active"></div>
<div class="sidebar" id="mySidebar" onmouseleave="closeSidebar()">
    <div id="darkmode">
        <i class="ri ri-contrast-2-line"></i>
        Darkmode
    </div>

    <div class="navigate">
        <a {% block nav_dashboard %}{% endblock %} href="{% url 'dashboard' %}"><i class="ri ri-dashboard-line"></i>Dashboard</a>
        <a {% block nav_share %}{% endblock %} href="{% url 'share' %}"><i class="ri ri-add-box-line"></i>New Post</a>
        <a {% block nav_my_share %}{% endblock %} href="{% url 'my_share' %}"><i class="ri ri-stack-line"></i>Your Posts</a>
        <hr />
        <a {% block nav_home %}{% endblock %} href="{% url 'journal' %}"><i class="ri ri-book-2-line"></i>Your Journal</a>
        <a {% block nav_entry %}{% endblock %} href="{% url 'entry' %}"><i class="ri ri-sticky-note-line"></i>New Entry</a>
        <a {% block nav_all_entries %}{% endblock %} href="{% url 'all_entries' %}"><i class="ri ri-database-line"></i>All Entries</a>
        <a {% block nav_star %}{% endblock %} href="{% url 'star_entries' star='star' %}"><i class="ri ri-star-line"></i>Starred Entries</a>
        <hr />
        <a {% block nav_zen %}{% endblock %} href="{% url 'zen' %}" id="Zen mode"><i class="ri ri-focus-line"></i>Zen Mode</a>
        <a {% block nav_incentives %}{% endblock %} href="{% url 'incentives' %}" id="badges"><i class="ri ri-medal-line"></i>Badges</a>
        <a href="{% url 'suggestions' %}" ><i class="ri ri-medal-line"></i>Suggestions</a>
        <a href="{% url 'story' %}"><i class="ri ri-medal-line"></i>Personal Stories</a>
    </div>

    <label class="switch">
        <input type="checkbox">
        <span class="slider round">
    </label>

</div>
<div class="nav-dropdown" id="myDropdown">
    <div>
        <img src="{{ profile.image.url }}" alt="" class="profile-pic">
        <h5>{{ user.username }}</h5>
    </div>
    <a href="{% url 'profile' %}"><i class="ri ri-profile-line"></i>Profile</a>
    <a href="{% url 'stats' %}"><i class="ri ri-bar-chart-grouped-line"></i>Statistics</a>
    <a href="{% url 'settings' %}"><i class="ri ri-settings-5-line"></i>Settings</a>
    <a href="{% url 'help' %}"><i class="ri ri-settings-5-line"></i>Seek Help</a>
    <a id="logout-button"><i class="ri ri-logout-box-r-line"></i>Log Out</a>
    <div class="section">

    </div>
</div>

<div class="navbar-m navbar">
    <div class="flex">
        <i class="ri-menu-line" onmouseover="openSidebar()"></i>
        <img class="logo" src="{% static 'images/eudaimonia-blue.png' %}" alt="">
        <div onclick="openDropdownOnclick()"><img src="{{ profile.image.url }}" class="profile-pic">
        </div>
    </div>
</div>
{% endif %}

{% block body %}
{% endblock %}

{% if display %}
<script>
    function openDropdownOnclick() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.profile-pic')) {
            var dropdowns = document.getElementsByClassName("nav-dropdown");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function openSidebar() {
        document.getElementById("mySidebar").style.width = "320px";
        document.getElementById("sidebar-active").style.display = "block";
    }

    function closeSidebar() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("sidebar-active").style.display = "none";
    }

    $(document).ready(function() {
        var startDate = new Date();
        $("#logout-button").click(function (event) {
            var endDate = new Date();
            $.ajax({ 
                type: "POST",
                url: "{% url 'logout' %}",
                data: {'csrfmiddlewaretoken': "{{  csrf_token  }}", 'time_spent': (endDate - startDate) / 3600},
                async: false,
                success: function (response) {
                    if (response == 1) {
                        window.location = "{% url 'index' %}";
                    }
                },      
            })
        });
    });
</script>
{% endif %}

{% block scripts %}
{% endblock %}

</html>