{% extends 'base/base.html' %}

{% block nav_all_entries%}
{% if not star %}
    class="active"
{% endif %}
{% endblock %}

{% block nav_star%}
{% if star %}
    class="active"
{% endif %}
{% endblock %}

{% load static %}

{% block title %}
{% if star %}
Eudaimonia | Starred Entries
{% else %}
Eudaimonia | Your Entries
{% endif %}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'journal/journal.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<body>
    {% if star %}
    <h1>Starred Entries</h1>
    {% endif %}
    <div class=" table">

        <div class="book-left">

        </div>
        <div class="book-right">
            <div class="filler">

            </div>
            <form id="search" method="post">
                {% csrf_token %}
                {{ form.search }}
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>

            <table>
                <thead>
                    <tr class="heading">
                        <th class="fc" style="width: 67.5%;">Entry</th>
                        <th>Date of Entry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr >
                        <th><a href="{% url 'post' id=result.id %}">{{ result.title }}</a></th>
                        <th>{{ result.date }}</th>

                    </tr>
                    {% empty %}
                    {% for entry in entries %}
                    <tr>
                        {% if star %}
                        <th><a href="{% url 'post' id=entry.id %}">{{ entry.title }}</a></th>
                        {% else %}
                        {% if entry.starred %}
                        <th><i onclick="starred(this, {{ entry.id }})" class="ri-star-fill "></i><a
                                href="{% url 'post' id=entry.id %}"> {{ entry.title }}</a></th>
                        {% else %}
                        <th><i onclick="starred(this, {{ entry.id }})" class="ri-star-line "></i><a
                                href="{% url 'post' id=entry.id %}"> {{ entry.title }}</a></th>
                        {% endif %}
                        {% endif %}
                        <th>{{ entry.date }}
                        </th>
                    </tr>
                    {% empty %}
                    <th>Your journal is empty! Start with some new entries...</th>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    </div>
    <div class="starred-popup popup">
        <p>{{ entry.title }} Added to Favourites.</p>
    </div>
    <div class="unstarred-popup popup">
        <p>{{ entry.title }} Removed from Favourites.</p>
    </div>
</body>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $("#search").autocomplete({
            source: "{% url 'autocomplete' %}",
            minLength: 2
        });
    });

    function starred(star, id) {
        var fav = false;
        if (star.classList.contains('ri-star-line')) {
            fav = true;
            star.classList.remove('ri-star-line');
            star.classList.add('ri-star-fill');
            var popup = document.querySelector('.starred-popup');
            popup.classList.add('popup-active');
            setTimeout(() => {
                popup.classList.remove('popup-active')
            }, 6000);
        }
        else {
            fav = false;
            star.classList.remove('ri-star-fill');
            star.classList.add('ri-star-line');
            var popup = document.querySelector('.unstarred-popup');
            popup.classList.add('popup-active');
            setTimeout(() => {
                popup.classList.remove('popup-active')
            }, 6000);
        }
        $.ajax({
            url: "{% url 'all_entries' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': "{{  csrf_token  }}",
                'favourite': fav,
                'id': id,
                'stars': 1
            },
            success: function (result) { }
        });
    }

</script>
{% endblock %}