{% extends 'base/base.html' %}
{% block nav_home%}
    class="active"
{% endblock %}
{% load static %}

{% block title %}
Eudaimonia | Your Journal
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{% static 'journal/journal.css' %}">
<body class="journal-body">
    <canvas class="background"></canvas>

    <div class="bookmark1">
        <a href="{% url 'all_entries' %}"><i class="ri ri-database-line"></i>all entries  </a>
        
    </div>
    <div class="bookmark2">
        
        <a href="{% url 'star_entries' star='star' %}"><i class="ri ri-star-line"></i>starred entries  </a>
    </div>
    <div id="journal" onclick="location.href='{% url 'entry' %}'">
        <div id="jname">{{ user.username }}'s  journal</div>
    </div>

    <div class="section">
        <div class="row">
            <div class="column">
                <div class="dummy"></div>
                <div class="stickynote" >
                    <p>Journal created on: {{ profile.join_date }}</p>
                    <p>Total entries written: {{ count }}</p>
                    <p>Last entry written: {{ entry_model.date }}</p>
                    <p>Last entry's title: {{ entry_model.title }}</p>
                </div>
            </div>
            <div class="column">
                <div  class="stickynote">
                    <h2>{{ quotes }}</h2>
                </div>
                <div class="stickynote">
                    <h2>Welcome to Journaling!</h2>
                    <p>Here you can record your experiences and events as and when you feel like it. The process is therapeutic and 
                        would relieve you of stress by offering you a private space to vent over your feelings or make logs so that
                        you may manage to stay productive as much as you can.</p>
                </div>
            </div>
        </div>

    </div>

    <script>

window.onload= function() {Particles.init({
    selector: '.background'});
};

        function openBookmark() {
            document.getElementById("mySidebar").style.width = "320px";
            document.getElementById("sidebar-active").style.display = "block";
        }

        function closeBookmark() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("sidebar-active").style.display = "none";
        }
    </script>
</body>
{% endblock %}