{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Your Journal
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'journal/journal.css' %}">

<body class="journal-body">
    <div class="bookmark1">
        <a href="{% url 'all_entries' %}"><i class="ri ri-database-line"></i>All</a>

    </div>
    <div class="bookmark2">

        <a href="{% url 'star_entries' star='star' %}"><i class="ri ri-star-line"></i>Starred</a>
    </div>
    <div id="journal" onclick="location.href='{% url 'entry' %}'">
        <div>
            <img class="profilebg" src="{% static 'images/pastelbg.jpg' %}" alt="">
        </div>
        <div id="jname">Your mom's <br>journal</div>
        <div class="journal-info">
            <a href="{% url 'entry' %}">New Entry<i class="ri ri-add-box-line"></i></a>
            <br />
        </div>
    </div>

    <script>
        function openBookmark() {
            document.getElementById("mySidebar").style.width = "320px";
            document.getElementById("sidebar-active").style.display = "block";
        }

        function closeBookmark() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("sidebar-active").style.display = "none";
        }
    </script>
</body>
{% endblock %}