{% extends 'base/base.html' %}
{% load static %}

{% block nav_zen%}
    class="active"
{% endblock %}

{% block title %}
Eudaimonia | Zen Mode
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{% static 'journal/zen.css' %}">

<body>
        <div class="absolute-container">
            <div class="water">
                <div class="ripple-one"></div>
                <div class="ripple-two"></div>   
                <div class="ripple-three"></div>
                
            </div>
            
            <div class="z-card">
                <h1>Zen Mode</h1>
            </div>
            
            <div>
                <select id="select" name="timeSelect" id="timeSelect" onchange="setTime(this.value);">
                    <option disabled selected="selected" value="0">Choose the time</option>
                    <option value="1800">30 minutes</option>
                    <option value="3600">1 hour</option>
                    <option value="5400">1 hour 30 minutes</option>
                    <option value="7200">2 hours</option>
                    <option value="10800">3 hours</option>
                </select>
            </div>

            <br><br>
            <button id="zen-but" onclick="openFullscreen();">Enter Zen Mode</button>
            <div>
        </div>
        <canvas class="canvas-out" >
        </canvas>
    </div>

    
    <div width="100%" controls class="window">
        <div class="zen-container">
            <h1 id="countdown" style="color: gray;"></h1>
            <h1 id="BreakCountdown" style="color: gray;"></h1>
            <p class="timedMessage"></p>
            <button id="stop" onclick="closeFullscreen();">Stop and Exit</button>
            <button id="resume" onclick="unpauseTimer();">Resume</button>
            <button id="pause" onclick="pauseTimer();">Pause</button>
            <audio id="audio" loop src="https://cdn.pixabay.com/download/audio/2022/03/11/audio_09bd9cbb9a.mp3?filename=longing-for-eternity-worship-poured-out-49950.mp3"></audio>
            <canvas id="gradient-canvas">
            </canvas>

        </div>
    </div>

    <script src="{% static 'journal/gradient.js' %}"></script>

    <script>
        // (function() {
        //     let media = document.querySelector("audio.fc-media");
        //     let audio = new MediaElementPlayer(media, {
        //         iconSprite: "",
        //         audioHeight: 40,
        //         features : ["playpause", "current", "duration", "progress", "volume", "tracks", "fullscreen"],
        //         alwaysShowControls: true,
        //         timeAndDurationSeparator: "<span></span>",
        //         iPadUseNativeControls: false,
        //         iPhoneUseNativeControls: false,
        //         AndroidUseNativeControls: false
        //     });
        // })();


        var c, total;
        var alertflag;
        var timedMessage = document.querySelector(".timedMessage")
        function setTime(time){
            timedMessage.innerHTML = "You're doing great! Keep up with the focus..." //text when the user first enters the zen mode
            c = time;
            total = c;
            alertflag = 0;
            
        }
        
        var pauseBut = document.querySelector('#pause')
        var resume = document.querySelector('#resume')
        var breakcd = document.getElementById('BreakCountdown');
        pauseBut.disabled = true;
        var isPaused = false;
        var flag = 0;
        var breakPeriod;

        //Break Countdown
        function startclockBreak(){
                var interval= setInterval(updateCountdownb, 1000);
                function updateCountdownb(){
                        --breakPeriod;
                        var second = breakPeriod % 60; // Seconds that cannot be written in minutes
                        var secondsInMinute = (breakPeriod - second) / 60; // Gives the seconds that COULD be given in minutes
                        var minute = secondsInMinute % 60; // Minutes that cannot be written in hours
                        var hour = (secondsInMinute - minute) / 60;
                        
                        breakcd.innerHTML = ` Break Countdown: 00:${minute}:${second}`
                        if (breakPeriod == 0) { 
                            timedMessage.innerHTML = "It's time to get back to work!"
                            clearInterval(interval);
                        
                        }
                }
            }

        function pauseTimer(){
            breakPeriod = 900;
            isPaused = true;
            pauseBut.style.display ="none"
            resume.style.display ="block"
            timedMessage.innerHTML = "Your are taking a break..."
            pauseBut.disabled = true;
            startclockBreak();
            flag++;
        }

        function unpauseTimer(){
            isPaused = false;
            resume.style.display ="none"
            pauseBut.style.display ="block"
            breakcd.innerHTML = "";
            timedMessage.innerHTML = "You just completed your break!"
        }

        //to pass the spent time in Zen mode to add to the total hours or something
        // function passTime(){
        //     //var time = c / 3600; // Seconds that cannot be written in minutes
        //     var time = 100;
        //     $("#stop").click(function (event) {
        //         $.ajax({
        //         type: "POST",
        //         url: "",
        //         data: { 'csrfmiddlewaretoken': "{{  csrf_token  }}", 'time': time},
        //         success: function (response) {
        //             if (response == 1) {
        //                 window.location = "{% url 'zen' %}";
        //             }
        //         },
        //         });
        //     })
        // }
        
        const countdownEl = document.getElementById('countdown');
       
        var intervalReference;
        function startclock(){
                var interval= setInterval(updateCountdown, 1000);
                intervalReference = interval
            function updateCountdown(){
                
                if(!isPaused){

                    --c;
                    var seconds = c % 60; // Seconds that cannot be written in minutes
                    var secondsInMinutes = (c - seconds) / 60; // Gives the seconds that COULD be given in minutes
                    var minutes = secondsInMinutes % 60; // Minutes that cannot be written in hours
                    var hours = (secondsInMinutes - minutes) / 60;
                    
                    

                    countdownEl.innerHTML = `${hours}:${minutes}:${seconds}`
                    if (c == 0) { 
                        timedMessage.innerHTML = "You were able to stay focused for the set period. Great work!"
                        // passTime();
                        //var time = c / 3600; // Seconds that cannot be written in minutes
                        clearInterval(interval);
                    }
                    if(c < (total - 3600) && flag==0){
                        timedMessage.innerHTML = "You might want to consider taking a break now..."
                        pauseBut.disabled = false
                    }
                    else if(c < (total - 6300) && flag==1){
                        timedMessage.innerHTML = "You might want to consider taking a break now..."
                        pauseBut.disabled = false
                    }
                    else if(c < (total - 8100) && flag==2){
                        timedMessage.innerHTML = "You might want to consider taking a break now..."
                        pauseBut.disabled = false
                    }
                    else if(c < (total - 9900) && flag==3){
                        timedMessage.innerHTML = "You might want to consider taking a break now..."
                        pauseBut.disabled = false
                    }
                }
            }
        }

        
        // zen mode activate and deactivate
        var audio = document.querySelector("#audio");
        var elem = document.querySelector(".window");
        function openFullscreen() {
        if (elem.requestFullscreen) {
            audio.play(); 
            elem.classList.add('active')
            elem.requestFullscreen();
            startclock()
        } else if (elem.webkitRequestFullscreen) { 
            elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { 
            elem.msRequestFullscreen();
        } else if(document.fullscreenElement){
            elem.classList.remove('active')
        }
        }
        
        function closeFullscreen() {
            if (document.exitFullscreen) {
                if(c != 0 && alertflag == 0){
                    timedMessage.innerHTML = "You will lose the total time spent in Zen mode from being considered if you exit now. Click on exit again if you want to continue."
                    alertflag++;
                } else {
                    document.exitFullscreen();
                    audio.pause();
                    location.reload(true)
                    clearInterval(intervalReference);
                    elem.classList.remove('active')
                }
            } 
        }
    </script>  
</body>
{% endblock %}