
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    margin-top: 200px ;
    margin-bottom: 200px ;
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00000043;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #291d78;
}


#dashboard{
    background-color: var(--primary-dark);
}

.dashboard-container{
    max-width: 30%;
    margin-left: 7%;
    margin-top: 100px;
}

#search input[type="text"]{
    background-color: none;
    border: 0;
    color: var(--sec);
    margin: auto;
    margin-top: 5px;
    border-bottom: 1px solid var(--primary-dark);
    width: 40%;
    padding: 10px;
    font-size: 16px;
}

.dashboard-nav{
    padding: 0 10px;
    position: fixed;
    margin: 0 20px;
    top: 55px;
    width: 85%;
    background-color: var(--primary-dark);
    height: 50px
}

.mini-nav{
    position: absolute;
    top: 10px;
    right: 30px;
}

.mini-nav .ri:hover{
    color: var(--accent);
}

.mini-nav .ri{
    font-size: 30px;
    transition: 0.3s;

}

.search-button{
    padding: 4px;
    border: none;
    background-color: var(--primarycolor);
    cursor: pointer;
}

button .ri-search-line{
    color: #4c4c4c;
    vertical-align: middle;
    font-size: 30px;
    border: none;
    padding: 5px;
}

.column{
    width: 100%;
    height: fit-content;
    padding: 0px 7px;
    margin: 30px;
}

.infinite-container{
    margin-top: 120px;
}

.post-title{
    font-size: 20px;
}

.infinite-item:nth-child(1){
    border-right: 4px solid #301dad91 ;
}

.infinite-item{
    position: relative;
    transition: transform .3s;
    border-radius: 5px;
    background-color: var(--primarycolor);
    border: none;
    margin: 12px 0;
    padding: 30px;
    height: 185px;
    overflow: hidden;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.11);
}


.bottom-padding{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    z-index: 10;
}

.infinite-item:hover{
    transform: scale(1.01);
}

.infinite-item p{
    color: #4c4c4c;
    font-size: 15px;
    line-height: 23px;
}

.read-more{
    font-style: bold;
    color: var(--accent);
    cursor: pointer;
}

.read-more:hover{
    text-decoration: underline;
}

.post-card{
    padding: 60px;
    padding-left: 90px;
    padding-bottom: 30px ;
    background-color: white;
    position: fixed;
    width: 55%;
    height: 83vh;
    top: 110px;
    border-radius: 10px;
    right: 7%;
    overflow-y: scroll;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.11);
}

.datePost{
    color: #000000a9;
    padding: 5px;
}

.titlePost{
    margin: 0;
    font-size: 3em;
    width: 70%;
    padding-bottom: 40px;
    
}

.contentPost{
    font-size: 17px;
}

/*story*/
.story{
    background-color: var(--primary-dark);
}

.story-container{
    max-width: 900px;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: var(--primarycolor);
    border: none;
    padding: 20px;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.11);
}
/*end of story*/



/*New post*/

.share-container{
    max-width: 800px;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    background-color: var(--primarycolor);
    border: none;
    padding: 50px;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.11);
}


input[type='text']{
    background-color: none;
    border: 0;
    color: var(--sec);
    margin: auto;
    margin-top: 5px;
    border-bottom: 1px solid #949494;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
}

textarea{
    background-color: none;
    color: var(--sec);
    margin: auto;
    height: 40px;
    margin-top: 5px;
    border: 0;
    border-bottom: 1px solid #949494;
    width: 100%;
    padding:10px 5px;
    font-size: 16px;
    overflow: hidden;
}

input:focus,
textarea:focus{
    outline: none;
}

#display-img{
    width: 270px ;
    height: auto;
    margin-top: 10px ;
    display: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.378);
}

#button{
    margin: 20px 0px;
}

.btn{
    width: 200px;
    transition: 0.3s;
    margin: auto;
    margin-right: 20px;
}

.btn:hover{
    background-color: var(--accent);
    color: var(--primarycolor);
}

.loading,
.loading:before,
.loading:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loading {
    color: #301dad86;
    font-size: 10px;
    margin: 40px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loading:before,
.loading:after {
    content: '';
    position: absolute;
    top: 0;
}

.loading:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
