{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Welcome
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'authentication/index.css' %}">

<body>
    <div class="navbar" id="myNavbar">
        <div class="container flex">
            <img class="logo" src="{% static 'images/eudaimonia-blue.png' %}" alt="">
            <div>
                <ul>
                    <li><a class="nav-item" href="{% url 'services' %}">Feature Description</a></li>
                    <li><a class="nav-item" href="{% url 'demo' %}">Try Mood Improver</a></li>
                    <li><a class="nav-item" href="{% url 'login' %}" >Log In</a></li>
                    <li><a class="nav-item" href="{% url 'signup' %}" >Sign Up</a></li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="showcase" id="home">
        <div id="container-in" class="animation-area" >
            <ul class="box-area">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div id="quote">"</div>
            <div class=" showcase-text">
                <h1 id="showcase-text-quote">I write</h1>
                <h1>because I don't know what I think until I read what I say.</h1>
                <h2 id="showcase-text-quote-by">- Flannery O'Connor</h2>
            </div>
        </div>

        <div class="container">
            <div class="full-text">
            <div class="content">
                    <div class="showcase-text-left">
                        <p>Be it for leisure, scheduling, building a habit, or logging hobbies, journaling is a voyage to the
                            interior. So amidst the pandemonium that life is, sit down for a moment of quiet reflection and
                            delve deep - within yourself. It is a soujourn to self-exploration, stillness and bliss...</p>
                        <p id="welcome">Welcome to Eudaimonia - your own private space for your personal odysseys.</p>
                        <br>
                        <button onclick="location.href='{% url 'signup' %}'">Get Started</button>
                        <br>
                        <div>Already a diarist here? <a href="{% url 'login' %}">Log in.</a></div>
                    </div>
                </div>
            </div>
        </div>
        

    <!--Features-->
    
        <div id="features">
            <br>
            <br>
            <div class="cover">
                <div id="feature1">
                    <h1 class="feature">A Personal Diary...</h1>
                    <p>Wherever you are, whenever it is, however you might feel like, Eudaimonia is your own personal
                        diary where you may write whatever you wish to.</p>
                    <a href="#">Learn more</a>
                </div>
            </div>
            <div class="cover">
                <div id="feature2">
                    <h1 class="feature">... that is also a Collage...</h1>
                    <p>Feeling drained of words? Or would you just like to catalogue your entry with pictures, like a
                        collage or a detailed study (or some top-secret investiga... fine, we'll be quiet regarding
                        that)? Be not bound by words, Eudaimonia offers you the liberty to upload pictures in your
                        entries.</p>
                        <a href="#">Learn more</a>
                </div>
            </div>
            <div class="cover">
                <div id="feature3">
                    <h1 class="feature">... that nobody on earth can break into...</h1>
                    <p>Worried about security? We at Eudaimonia offer you the military-grade 256-bit AES encryption that
                        has been proven to be unbreakable.</p>
                    <a href="#">Learn more </a>
                </div>
            </div>
            <div class="cover">
                <div id="feature4">
                    <h1 class="feature">... and comes for free.</h1>
                    <p>There are no charges involved at any stage for any service. Everything is completely free (the
                        developers made it so because they know how it feels to avail the best services without spending
                        a dime).</p>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->

    <div id="footer">

    </div>
</body>

<script>
    let navbar = document.getElementById('myNavbar')
    window.onscroll = function () {
        var navEl = document.getElementsByClassName('nav-item');
        "use strict"
        if (document.body.scrollTop >= 200 || document.documentElement.scrollTop >= 200) {
            navbar.classList.add("scrolling-active")
        }
        else {
            navbar.classList.remove("scrolling-active")
            navEl.style.color = "white";
        }
    }
</script>
{% endblock %}