{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Settings
{% endblock %}

{% block body %}

<body>
    <h1>Change Password</h1>
    <form method="post">
        You shall be directed back to your journal upon completion of the change, if successful.<br />
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
        {% if messages %}
        <ul class="alert">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
</body>
{% endblock %}