{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Password Reset - Reset Complete
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'authentication/password.css' %}">

<body>
    <div class="container-pw">
        <h1  class="center">Password reset complete</h1>
        <hr>
        <p class="center">Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}" class="btn-pw center">Log in</a>
    </div>
</body>
{% endblock %}