{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Password Reset - Reset Confirmation
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'authentication/password.css' %}">

<body>
    <div class="card-pw">
        <h1>Password Reset Confirm</h1>
        <hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Reset password</button>
        </form>
    </div>
</body>
{% endblock %}