{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Password Reset - Email Sent
{% endblock %}

{% block body %}

<link rel="stylesheet" href="{% static 'authentication/password.css' %}">

<body>
    <div class="container-pw ">
        <h1 class="center">Password reset sent</h1>
        <hr>
        <p class="center">We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>
        <p class="center">If you don't receive an email, please make sure you've entered the
            address you registered with, and check your spam folder.</p>
    </div>
</body>
{% endblock %}