{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Password Reset - Change Confirmation
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'authentication/password.css' %}">

<body>
    <div class="card-pw">
        <h1>Reset Password</h1>
        <hr>
        <p>Forgotten your password? Enter your registered email address below, and we'll email instructions for setting a new one.
        </p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            <div class="center">
            <button type="submit">Send email</button>
        </div>
        </form>
    </div>
</body>
{% endblock %}