{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Eudaimonia | Edit Profile
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'authentication/profile.css' %}" />
<!--Datepicker-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
    integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
    integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

<body>
    <div class="container-edit">
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="container-left">
                <h1>Basic Information</h1>
                <div><span class="labels">Birthday </span>{{ form.birth_date }}</div>
                <div><span class="labels">Bio </span>{{ form.bio }}</div>
                <br><br>
                <h1>Preferences</h1>
                <div>
                    <span class="labels">Preferred Movie Genres </span>
                    <div class="item-group">
                        {% for item in fav_mov %}
                        <div class="item">{{ item }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <span class="labels">Unfavourite Movie Genres </span>
                    <div class="item-group">
                        {% for item in unfav_mov %}
                        <div class="item">{{ item }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <span class="labels">Preferred Music Genres </span>
                    <div class="item-group">
                        {% for item in fav_mus %}
                        <div class="item">{{ item }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <span class="labels">Unfavourite Music Genres </span>
                    <div class="item-group">
                        {% for item in unfav_mus %}
                        <div class="item">{{ item }}</div>
                        {% endfor %}
                    </div>
                </div>

                <a href="{% url 'recommendations_edit' pk=profile.pk %}">Alter Recommendation Preferences</a>
                {% if profile.personality == None %}
                <a href="{% url 'quiz' %}">Set Personality Preferences</a>
                {% else %}
                Personality preferences have been set for better analysis.
                {% endif %}
            </div>
            <div class="container-right">
                <img src="{{ profile.image.url }}" alt="" />
                <br />
                {{ form.image }}
                <input type="submit" value="Save" id="btn" />
            </div>
        </form>

        <div>Choosing a genre for both preferred and unfavourite fields may nullify or disrupt recommendations.</div>
    </div>
    
</body>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $("#birth-date").datepicker({
            format: 'dd/mm/yyyy',
        });
    });
</script>
{% endblock %}