/*Landing page*/

/*The Quotation*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/*showcase*/

button {
    border-radius: 0px;
    margin: 10px 0;
    color: var(--accent);
    background: none;
    font-size: 20px;
    border: 2px solid var(--accent);
    height: 50px;
    width: 250px;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent);
    color: var(--primarycolor)
}

#container-in{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../images/pastelbg.jpg");
    overflow: hidden;
    width: 98.7vw;
    position: absolute;
    height: 100vh;
}

.showcase {
    z-index: 1;
    height: fit-content;
    width: 100%;
}




.showcase-text {
    margin-right: 15%;
    z-index: 3;
    max-width: 700px;
    float: right;
    padding-top: 200px;
    justify-content: left;
}

#quote{
    z-index: 2;
    font-size: 300pt;
    color: #27188a52;
    position: absolute;
    margin-top: 7%;
    margin-left: 59%;
    font-family: 'Courgette', cursive;
}

#showcase-text-quote{
    line-height: 70px;
    font-size: 90px;
    text-align: right;
    
}

.showcase-text h1{
    padding: 10px 0;
    line-height: 55px;
    width: 550px;
    height: auto;
    text-align: right;
    font-size: 35px;
    font-weight: 400;
}

.showcase h2{
    text-align: right;
    margin-right: 0;
    padding: 0;
    margin-top: 60px;
    color: var(--accent);
    font-size: 23px;
}

.full-text{
    height: 100vh;
}

.content {
    margin-top: 110vh;
    max-width: 70%;
}

.showcase-text-left a{
    color: black;
}

.showcase-text-left{
    color: black;
    margin-left: 0px;
    padding-top: 50px;
    max-width: 65%;
}

.showcase-text-left p{
    font-size: 19px;
    line-height: 30px;
}


.showcase-text div a:hover{
    text-decoration: underline;
}


/*End of showcasetext*/

/*Features*/

#features{
    height: 250vh;
    position: relative;
    background-color: #fafafafa;
    background-image: url(../images/blueill.png);
    padding-left: 100px;
}

.cover h1{
    font-size: 40px;
    font-weight:lighter;
}

.cover p{
    font-size: 17px;
    line-height: 25px;
}

.cover a{
    font-size: 23px;
    line-height: 70px;
    color: var(--accent);

}

.cover a:hover{
    color: black;
    text-decoration: underline;
}

#feature1{
    background-color: white;
    z-index: 3;
    position: absolute;
    padding: 45px;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 550px;
    height: 400px;
}

#feature2{
    background-color: white;
    margin-top: 330px;
    margin-left: 53%;
    z-index: 3;
    position: absolute;
    padding: 45px;
    width: 550px;
    height: 370px;
}

#feature3{
    background-color: white;
    margin-top: 730px;
    margin-left: 10%;
    z-index: 3;
    position: absolute;
    padding: 45px;
    width: 530px;
    height: 360px;
}

#feature4{
    background-color: white;
    margin-top: 1300px;
    margin-left: 30%;
    z-index: 3;
    position: absolute;
    padding: 45px;
    width: 550px;
    height: 370px;
}
/*End of features*/


/*Footer*/
#footer{
    margin-top: 100px;
    height: 200px;
}
/*End of Footer*/
/*End of Landing page*/

#showcase-text-quote-by
{   
    text-align: right;
    margin-right: 40px;
}


/*Services*/

.services{
    max-width: 1100px;
    margin: auto;
    margin-top: 100px;
}

.test-heading{
    color: var(--accent);
    font-size: 30px;
}