.container-pw{
    max-width: 720px;
    padding: 20px;
    height: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-top: 200px;
}

.card-pw p{
    color: rgb(99, 99, 99);
    margin-top: 30px;
    text-align: center;
}

.card-pw{
    padding: 40px 50px;
    z-index: 3;
    position: absolute;
    width: 400px;
    height: fit-content;
    background-color: #ffffff;
    border: none;
    box-shadow: 4px 2px 10px rgba(133, 133, 133, 0.541);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.card-pw input[type='email']
{
    margin-top: 25px;
    background-color: none;
    border: 0;
    color: var(--sec);
    border-bottom: 1px solid rgb(207, 207, 207);
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 16px;
}

.card-pw input:focus{
    outline: none;
}

.card-pw h1{
    text-align: center;
}

.card-pw button{
    display: block;
    margin-top: 30px;
    margin-bottom: 3px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--primarycolor);
    color: var(--sec);
    width: 100%;
    
}

.card-pw button:hover{
    background-color: var(--sec);
    color: var(--primarycolor);
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='hidden'],
input[type='password']{
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
    height: 35px;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}

.helptext ul{
    margin: 5px 0;
    margin-bottom: 30px;
}

.helptext ul li{
    margin: 4px 0;
    font-size: 13px;
    color:rgb(6, 159, 230);
    text-align: center;
}

.card-pw form{
    margin-top: 30px;
}

.btn-pw{
    padding: 10px;
    border: 1px solid black;
    width: 50%;
    margin: auto;
}

.btn-pw:hover{
    background-color: var(--sec);
    color: var(--primarycolor);
}