




/*card and form input*/
.card h1{
    font-style: bold;
    font-size: 35px;
    color: rgb(82, 41, 41);
}

.card h4{
    padding-bottom: 20px;
    color: black;
}

.card h1, .card h4{
    text-align: center;
}

.card h5{
    cursor: pointer;
    margin-top: 7px;
    font-size: 12px;
}

.card h5 a:hover{
    text-decoration: underline;
}

.card p{
    text-align: center;
    font-size: 15px;
}

.card p a:hover{
    color: #664451;
    text-decoration: underline;
}

.card{
    height: auto;
}

.card input[type='text'],
.card input[type='email'],
.card input[type='password'],
.card textarea{
    margin-top: 10px;
    background-color: none;
    border: 0;
    color: var(--sec);
    border-bottom: 1px solid rgb(207, 207, 207);
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
    mix-blend-mode: multiply;
    font-size: 16px;
}

.card input:focus,
.card textarea:focus{
    outline: none;
}

.card div{
    color: var(--primarycolor);
    padding: 15px;
}

.card input {
    width: 100%;

}

input[type=submit]:hover {
    background-color: var(--sec);
    color: var(--contrast);
}

input[type=submit]{
    margin-top: 40px;
    margin-bottom: 3px;
}
/*End of card input and form*/

/*Signup page*/

.si{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/images/background.jpg"); 
    background-color: rgb(98, 132, 155);
    
}

#dim{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
}

.card-s{
    padding: 20px;
    z-index: 3;
    position: absolute;
    width: 420px;
    height: auto;
    overflow-y: auto;
    background-color: #ffffff;
    border: none;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.541);
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}

.card-l{
    padding: 20px;
    z-index: 3;
    position: absolute;
    width: 420px;
    height: fit-content;
    overflow-y: auto;
    background-color: #ffffff;
    border: none;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.541);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.alert{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 20px;
    color: red;
}

strong
{
    color: red;
}

.success
{
    text-align: center;
    margin-top: 7px;
    margin-bottom: 20px;
    color: green;
}

form i
{
    margin-left: -30px;
    cursor: pointer;
    color: rgba(109, 109, 109, 0.918);
}

.eye-problem
{

    z-index: 9999;
	position: absolute;
	right: 45px;
    margin-top: 15px;;
}
/*end of singup page*/
