{% extends 'base/base.html' %}
{% block nav_dashboard %}
{% if not my_shares %}
class="active"
{% endif %}
{% endblock %}


{% block nav_my_share%}
{% if my_shares %}
class="active"
{% endif %}
{% endblock %}

{% load static %}

{% block title %}
Eudaimonia | Your Dashboard
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">

<body id="dashboard">
    <div class="dashboard-container">
        <div class="dashboard-nav">
            <form id="search" method="post">
                {% csrf_token %}
                {{ form.search }}
                <button class="search-button" type="submit"><i class="ri-search-line"></i></button>
            </form>

            <div class="mini-nav">
                <a href="{% url 'dashboard' %}" style="color: #301dad;"><i class="ri ri-dashboard-line"></i></a>
                <a href="{% url 'share' %}"><i class="ri ri-add-box-line"></i></a>
                <a href="{% url 'my_share' %}"><i class="ri ri-stack-line"></i></a>
            </div>

            <br /><br /><br />
        </div>
        <div class="infinite-container">
            {% for post in page_obj %}
            <div onclick="passitem(this)" class="infinite-item">
                <h2 class="post-title">{{ post.title }}</h2>
                <h5  >{{ post.date }}</h5>
                <p class="post-content">{{ post.post}}</p>
                <div class="bottom-padding"></div>
            </div>
            {% endfor %}
        </div>

        <p class="loading">Loading...</p>
        <div class="column">
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
        </div>
    </div>

    <div class="post-card">
        <h5 class="datePost"></h5>
        <h2 class="titlePost" >Welcome! Great to have you here...</h2>
        <p class="contentPost">The dashboard is the place where you can share your own experiences with the world or learn from others. 
            It may be any achievement, any personal incident, beliefs or you opening up globally for others to learn from your stories or ideas.
            <br />
            Everyone sharing would be completely anonymous to maintain privacy. This is done so that users feel comfortable 
            sharing without facing any bias or judgements, with the true intent of helping out others. <br />
            Posts have an auto-checking algorithm that flags every post for containing material that is harmful 
            or toxic for the community. Refrain from the use of:
            <ul id="liszt">
                <li>References to particular people (alias any real-life person, if required)</li>
                <li>Expletives</li>
                <li>Strong opinions on overly controversial matters</li>
            </ul>
        </p>
    </div>


    <script src="/static/infinite scroll js/jquery.waypoints.min.js"></script>
    <script src="/static/infinite scroll js/infinite.min.js"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function () {
                $('.loading').hide();
            }
        });
        document.getElementsByClassName("infinite-item").onclick = function () {

        }

        function passitem(el){
            var title = $(el).children('.post-title').text();
            var content = $(el).children('.post-content').text();
            document.querySelector(".titlePost").innerHTML = title;
            document.querySelector(".contentPost").innerHTML = content;
            document.querySelector("#liszt").innerHTML = "";
        }
    </script>
</body>
{% endblock %}