{% extends 'base/base.html' %}
{% block nav_dashboard %}
{% if not my_shares %}
class="active"
{% endif %}
{% endblock %}


{% block nav_my_share%}
{% if my_shares %}
class="active"
{% endif %}
{% endblock %}

{% load static %}

{% block title %}
Eudaimonia | Your Dashboard
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">

<body id="dashboard">
    <div class="dashboard-container">
        <div class="dashboard-nav">
            <form id="search" method="post">
                {% csrf_token %}
                {{ form.search }}
                <button class="search-button" type="submit"><i class="ri-search-line"></i></button>
            </form>

            <div class="mini-nav">
                <a href="{% url 'dashboard' %}" style="color: #301dad;"><i class="ri ri-dashboard-line"></i></a>
                <a href="{% url 'share' %}"><i class="ri ri-add-box-line"></i></a>
                <a href="{% url 'my_share' %}"><i class="ri ri-stack-line"></i></a>
            </div>

            <br /><br /><br />
        </div>
        <div class="infinite-container">
                    {% for post in page_obj %}
                    <div onclick="passitem(this)" class="infinite-item">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h5  >{{ post.date }}</h5>
                        <p class="post-content">{{ post.post}}
                            <!-- <a class="read-more" href="{% url 'story' id=post.id %}">Read more</a>  -->
                        </p>
                        <div class="bottom-padding"></div>
                    </div>
                    {% endfor %}
        </div>

        <p class="loading">Loading...</p>
        <div class="column">
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
        </div>
    </div>

    <div class="post-card">
            <!-- <h1>{{ story.title }}</h1>
            <b>{{ story.date }}</b>
            {% if story.image %}
            <img src="{{ story.image.url }}" />
            {% endif %}
            <p>{{ story.post }}</p> -->

        <h5 class="datePost"></h5>
        <h2 class="titlePost" >...</h2>
        <p class="contentPost"></p>
    </div>


    <script src="/static/infinite scroll js/jquery.waypoints.min.js"></script>
    <script src="/static/infinite scroll js/infinite.min.js"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function () {
                $('.loading').hide();
            }
        });
        document.getElementsByClassName("infinite-item").onclick = function () {

        }

        function passitem(el){
            var title = $(el).children('.post-title').text();
            var content = $(el).children('.post-content').text();
            document.querySelector(".titlePost").innerHTML = title;
            document.querySelector(".contentPost").innerHTML = content;
        }
    </script>
</body>
{% endblock %}